.submit{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
}
.submit h1{
    border-bottom: 2px solid gray;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
.submit form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.submit form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.submit form div input{
        width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    border-bottom: 2px solid gray;
}
.submit form div input:focus{
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.submit button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-bottom: 50px;
    background-color: salmon;
}
@media(min-width:960px){
    .submit{
    margin-top: 100px;
    gap: 100px;
}
.submit h1{
    font-size: 45px;
}
.submit form{
    gap: 80px;
}
.submit form label{
    font-size: 22px;

}
.submit form input{
    height: 60px;
}
.submit button{
    width: 200px;
    height: 60px;
    font-size: 22px;
}
.file input{
    font-size: 22px;
}
}
@media(min-width:1125px){
    .submit{
        margin: 50px auto;
        width: 80%;
        
    }
}