.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.header a:hover{
    color: goldenrod;
    transition-duration: 1s;
    border-bottom: 2px solid goldenrod;
}