.sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
    gap: 20px;
    height: 100%;
    background-color: #1A365D;
}
.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar a:hover{
    color: goldenrod;
    transition-duration: 1s;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid goldenrod;
}